@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

h1 {
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Newsreader', serif;
}
h3 {
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Newsreader', serif;
}
h4 {
  color: blue;
  text-align: center;
}
body {
  background-color: gray;
}
.header {
  background-color: white;
  display: flex;
  margin: auto;
  max-width: 650px;
  max-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-color: $lightGray;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  font-family: 'Newsreader', serif;
}
.book{
  background-color: white;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-color: $lightGray;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: 'Newsreader', serif;
}


.button {
  padding-top: 7px;
  padding-bottom: 15px;
}
.title {
  padding-bottom: 1px;
}
.author {
  padding-top: 7px;
  padding-bottom: 5px;
}
.description {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}